body{
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 18px;
  padding-top: 15px;
  background-image: url("../img/pidgeon-background.jpg");
  background-repeat: no-repeat;
  background-color: #dddddd;

  min-height:100vh;
  padding-bottom: 75px;
  position:relative;
}

h1 {
  color: #c12258;
  font-size: 2em;
  line-height: 1.5;
  margin: 10px;
}
a {
  font-size: 18px;
  color: #c12258;
  text-decoration: underline;
}
:focus {
  border: solid 1px red;
}

table {
  border: solid 2px black;
  border-collapse: separate;
  border-radius: 10px;
  margin-bottom: 10px;
}
.colhead {
  min-width: 150px;
  padding: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: #7e0830;
}

td, th {
  padding: 15px;
  text-align: center;
  vertical-align: center;
  border-bottom: solid 2px black;
  overflow:hidden; white-space:nowrap
}

tr:last-child td, tr:last-child th{
  border: none;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  background-color: #fab9cf;
}

thead th:first-child {
  border-radius: 6px 0 0 0;
}

thead th:last-child {
  border-radius: 0 6px 0 0;
}

thead th:only-child{
  border-radius: 6px 6px 0 0;
}

tbody tr:last-child th{
  border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}

main {
  margin: 10px;
  position: relative;
}
footer{
  color: white;
  background-color: black;
  min-height: 60px;
  text-align: center;
  
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
}
